.banner {
  position: relative;
  height: auto;
}

.banner > img {
  object-fit: cover;
  width: 100%;
}

.banner__text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.banner__text > p {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #222222;
  font-size: 1.1rem;
}

.banner__text > button {
  color: #96018f;
  outline: none;
  border: 1px solid white;
  background: white;
  padding: 1.2rem 3.5rem 1.2rem 3.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  transition: all ease-in-out 0.3s;
}

.banner__text > button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.banner__text > button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  .banner__text > p {
    font-size: 1rem;
  }
  .banner__text {
    margin-top: -2rem;
  }
  .banner__text > button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
}
