.banner {
  background-image: url("https://a0.muscache.com/im/pictures/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg");
  height: 600px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.banner__text > p {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #222222;
  font-size: 1.1rem;
}

.banner__text > button {
  color: #96018f;
  outline: none;
  border: 1px solid white;
  background: white;
  padding: 1.2rem 3.5rem 1.2rem 3.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  transition: all ease-in-out 0.3s;
}

.banner__text > button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.banner__text > button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  .banner__text {
    margin-top: -2rem;
  }
}

@media screen and (min-width: 1800px) {
  .banner__text {
    margin-top: -2rem;
  }
}
