.header {
  display: grid;
  grid-template-rows: 0.5rem 2.5rem auto auto;
  row-gap: 1.5rem;
  margin-top: 3.5rem;
  margin-left: 2.2rem;
}

.header__buttons {
  display: grid;
  grid-template-columns: 7.8rem 7.8rem 7.8rem 7.8rem 7.8rem;
  column-gap: 0.5rem;
}

.header__buttons > button {
  background: none;
  border: 1px solid #cccccc;
  background: white;
  border-radius: 15px;
  outline: none;
  padding: 0.4rem;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header__buttons > button:hover {
  border: 1px solid black;
  cursor: pointer;
}

.header > p {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
}

.header h1 {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: #222222;
  font-size: 1.9rem;
}

@media screen and (max-width: 768px) {
  .header__buttons {
    grid-template-columns: 7.8rem 7.8rem 7.8rem;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .header h1 {
    font-size: 1.5rem;
  }
  .header p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .header__buttons {
    grid-template-columns: 7.8rem 7.8rem;
  }
}

@media screen and (min-width: 1500px) {
  .header {
    justify-content: center;
    margin-left: 0;
  }
}
